.git
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/debugbar
bootstrap/cache/*.php
public/hot
public/storage
tests
phpunit.xml
*.md
!README.md
